/*
COLORS:
BLUE: #1E69FF
PURPLE: #6C10E8
LIGHT GREEN: #5AFF6E
HOT PINK: #FF12AA
TEAL: #10E8D7
*/


body {
   background-color: none;
    color:#1E69FF;
}

#header {
    width:100%;
        background-color: none;
    min-height: 80px;
}

#header > h1 {
    margin:0;
    text-align: center;
    font-family:'Lato', sans-serif;
    position:relative;
    transform:translateY(50%)
}

#nav {
        background-color: #1E69FF;
    width: 100%;
    min-height: 80px;
    font-family: 'Lato', sans-serif;
    height: auto;
}
#nav > ul {
    text-align: center;
    padding: 0;
    margin: 0;
    transform: translateY(50%);
}

#nav > ul > button {
    min-width: 120px;
    color: #fff;
    background-color: #6C10E8;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
}

#nav > ul > button:hover {
    background-color: #FF12AA
; 
}
/*
.menu{
    display:flex;
    background:aliceblue;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}
*/
#middle-wrapper-width {
    display:flex;
    font-family: 'Lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;
}
#middle-wrapper {
        
}
.side-by-side {
    display:flex;
}


#main-content-wrapper .image-content {
    text-align:center;
    width:50%;
    margin-top:50px;
}

.image-content > img {
    max-width:200px;
    border-radius:50%;
}

.image-content > h4 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    color: #FF12AA;
}

.image-content > h4 > a {
    color: #1E69FF;
}

.image-content > h4 > a:hover {
    color:#FF12AA;
}

#main-content-wrapper article {
    width:50%;
    margin-top:100px;
}

#main-content-wrapper article h2 {
    text-align:center;
}
#main-content-wrapper article p {
    max-width:300px;
    margin-top:0 auto;
}

#main-content-wrapper #skills {
    text-align:center;
    font-weight:300;
    letter-spacing:2px;
}
#main-content-wrapper #skills span {
    font-weight:400;
}

#aside-content-wrapper { 
    background-color:#fff;
    width:35%
    font-family: 'Lato', sans-serif;
}
#aside-right {
    margin:0 50 px 0 8px;
}
#aside-right h3 {
    text-align:center;
}
#latest-work {
    list-style-type: none;
}
#latest-work > li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 350%;
    border-bottom:1px black solid;
}
#latest-work >li:before {
    content:'';
    border-color:transparent #008eef;
    border-style: solid;
    border-width: .35em 0 .35em .45em;
    display: block;
    height:0;
    width:0;
    left: -1em;
    top:.9em;
    position:relative;
}
#favorite-sites {
    background-image: url(images/haha.jpeg)
}


11:37 on vid 5




footer {
    background-color: coral;
    margin: 0;
}

footer > h1 {
    margin:0;
}