/*
COLORS:
BLUE: #1E69FF
PURPLE: #6C10E8
LIGHT GREEN: #5AFF6E
HOT PINK: #FF12AA
TEAL: #10E8D7
*/


body {
   background-color: none;
    color:#1E69FF;
}

#header {
    width:100%;
        background-color: none;
    min-height: 80px;
}

#header > h1 {
    margin:0;
    text-align: center;
    font-family:'Lato', sans-serif;
    position:relative;
    transform:translateY(50%)
}

#nav {
        background-color: #1E69FF;
    width: 100%;
    min-height: 80px;
    font-family: 'Lato', sans-serif;
    height: auto;
}
#nav > ul {
    text-align: center;
    padding: 0;
    margin: 0;
    transform: translateY(50%);
}

#nav > ul > button {
    min-width: 120px;
    color: #fff;
    background-color: #6C10E8;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
}

#nav > ul > button:hover {
    background-color: #FF12AA
; 
}
/*
.menu{
    display:flex;
    background:aliceblue;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}
*/
#middle-wrapper-width {
    display:flex;
    font-family: 'Lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;
}
#middle-wrapper {
        
}
.side-by-side {
    display:flex;
}



13:40 on video



#main-content-wrapper .image-content {
    text-align:center;
    width:50%;
    margin-top:50px;
    background-color: greenyellow;
}

#aside-content-wrapper { 
    background-color:plum;
    width:60%
}

footer {
    background-color: coral;
    margin: 0;
}

footer > h1 {
    margin:0;
}